<div>
    <header class="bg-gray-100 text-gray-700 py-4 flex justify-center border border-gray-200 gap-5 mx-5 mt-5 rounded rounded-lg">
        <div class="container flex justify-center items-center p-4">
            <a routerLink="/" class="text-lg font-bold inline">Hacker News</a>
            <span class="text-xl mx-2">|</span>
            <ul class="flex mx-5 inline">
                <li class="mr-6">
                    <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="hover:text-gray-300">New</a>
                </li>
                <li class="mr-6">
                    <a routerLink="/jobs" routerLinkActive="active-link" class="hover:text-gray-300">Jobs</a>
                </li>
                <li class="mr-6">
                    <a routerLink="/ask" routerLinkActive="active-link" class="hover:text-gray-300">Ask</a>
                </li>
                <li class="mr-6">
                    <a routerLink="/top" routerLinkActive="active-link" class="hover:text-gray-300">Top</a>
                </li>
                <li class="mr-6">
                    <a routerLink="/best" routerLinkActive="active-link" class="hover:text-gray-300">Best</a>
                </li>
            </ul>
        </div>
    </header>
    
    <main class="container mx-auto px-4 py-8">
        <router-outlet></router-outlet>
    </main>
    
    <footer class="text-gray-700 py-4 flex justify-center mx-5 mt-5">
        <div class="container flex justify-center items-center p-4">
            <a routerLink="https://github.com/abdi-frost" target="_blank" class="text-sm">
                Developed by Abdi Megersa © {{ currentYear }}
            </a>
        </div>
    </footer>
</div>
